@use 'reset';
@use 'layout';
@import 'theme';

.produto {
    &__imagem {
        width: 100%;
    }
    
    &__nome {
        font-size: 1.2em;
        margin: 8px 0;
    }
    
    &__descricao {
        color: $textColor;
    }

    &--em-destaque {
        border: 2px solid $highlight-color-border;
        padding: 8px;
        background-color: $highlight-color;
    }
} 